@page "/"
@rendermode InteractiveServer

<link href="auth.css" rel="stylesheet" />

<main class="auth-container">
    <div class="auth-box">
        <Login Visible="_showLogin" OnSwitch="SwitchForm" />
        <Register Visible="!_showLogin" OnSwitch="SwitchForm" />
    </div>
</main>

@code {
    private bool _showLogin = true;

    private void SwitchForm()
    {
        _showLogin = !_showLogin;
    }
}